
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
/* https://colorhunt.co/palette/7277 

https://colorhunt.co/palette/163564

*/

body, h1, h2, h3, h4, p, div, img, a {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.hidden{
  display: none;
}

header {
  background-color: #2c5460;
  border-top: 5px solid  #bbdc2f ;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

header .index-name a {
  font-size: 30px;
  color: #bbdc2f;
  align-self: center;
  margin-left: 50px;
  text-decoration: none;
  width:200px;
  display:block;
}

header .index-nav {
  font-size: 30px;
  align-self: center;
  margin-right: 50px;
  display: grid;
  justify-content: flex-end;
}

header nav a {
  text-decoration: none;
  color: #bbdc2f;
}

main .index-main-welcome  {
  background-color: #2c5460;
  padding: 80px 0;
  box-shadow: 0px 10px 13px -7px #000000
}

main .index-main-welcome h1 {
  height: 120px;
  font-size: 50px;
  font-weight: 700;
  color: #bbdc2f;  
  display: flex;
  align-items: center;
  justify-content: center;
}

main .index-main-welcome p {
  color: #cbe0e0;
  padding: 0 15px;
  text-align: center;
  font-size: 20px;
}

footer {
  margin-top: 30px;
  border: 1px solid red;
}


main .index-main-projects  {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
}

main .index-main-projects h2 {
  height: 80px;
  font-size: 50px;
  font-weight: 700;
  color: #2c5460;
  font-size: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
}

main .index-main-projects-list {  
  padding-top: 30px;  
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap:10px;
  justify-content: center;
  max-width: 1300px; 
  min-width: 130px; 
  font-size: 14px;
}

main .index-main-project {
  width: 340px;
  background-color: #cbe0e0;
}

main .index-main-project-client-name { 
  height: 40px;
  background-color: #2c5460;
  display: flex;  
  justify-content: center;
  align-items: center;  
  color: #bbdc2f;
  font-size: 18px;
  font-weight: 600;
}

main .index-main-project  h3 { 
  height: 50px;
  color: #2c5460;
  font-size: 22px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .index-main-project-description { 
  font-size: 16px;
  font-weight: 700;
  color: #2c5460;
  padding: 7px 12px 10px 12px;
}

main .index-main-project-title-list { 
  font-size: 14px;
  font-weight: 400;
  padding: 0px 12px
}

main .index-main-project-action {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 15px; 
}

main .index-main-project a { 
  background-color: #bbdc2f;
  color: #2c5460;
  width: 150px;
  height: 50px;
  font-size: 22px;
  font-weight: 600;
  border:none;
  border-radius: 5px;
  box-shadow: 0px 10px 13px -7px #000000;
  text-decoration: none;
  display: flex;
  justify-content:space-around;
  align-items: center;    
}

main .index-main-project a:hover { 
  background-color: rgba(187, 220, 47, .50);
}
main .index-main-link-projects{ 
  padding-top: 15px;
  padding-right: 65px;
  display: flex;
  justify-content: flex-end;
}

main .index-main-link-projects  a { 
  color: #61b136;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

main .index-main-link-projects  a:hover { 
  text-decoration: underline;
}

main .index-main-project-img {
  height: 50px;
}

main .index-main-project img {
  height: 50%;  
  display:flex;
  margin: auto;
}

main .s1 {  
  height: 200px;
  grid-row-end: span 1;  
}


main .s2 {
  grid-row-end: span 2;
}


main .s3 {  
  grid-row-end: span 3;
}

main .index-main-skills-list {  
  padding-top: 30px;  
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap:10px;
  justify-content: center;
  max-width: 1200px; 
  min-width: 200px; 
  font-size: 14px;
}

main .index-main-skill {
  background-color: #2c5460;
  display: flex;  
  justify-content: center;
  align-items: center;  
  color: #bbdc2f;
  font-size: 22px;
  font-weight: 700;
  width: 200px;
  height: 133px;
}