
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

body, h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2c5460;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #bbdc2f;
  border-top: 3px solid  #bbdc2f ;
}

header .name {
  margin-left: 50px;
  align-items: center;
}

header nav {  
  align-items: center;
  display: flex;
  justify-self: end;
  margin-right: 50px;
}

header nav a {
  text-decoration: none;
  color: #bbdc2f
}

main .index-main{
  padding: 0;
}

main .index-main-welcome  {
  background-color: #2c5460;  
}

main .index-main-welcome h1 {
  font-size: 21px;
  font-weight: 700;
  color: #bbdc2f
}


main .index-main-welcome p {
  color: #cbe0e0
}

footer {
  border: 1px solid red;
}