
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
/* https://colorhunt.co/palette/7277  */

body, h1, h2, h3, h4, p, div, img {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2c5460;
  border-top: 5px solid  #bbdc2f ;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;    
}

header .index-name {
  font-size: 30px;
  color: #bbdc2f;
  align-self: center;
  margin-left: 50px;
}

header .index-nav {
  font-size: 30px;
  align-self: center;
  margin-right: 50px;
  display: grid;
  justify-content: flex-end;
}

header nav a {
  text-decoration: none;
  color: #bbdc2f;
}

main .index-main-welcome  {
  background-color: #2c5460;
  padding: 80px 0;
  box-shadow: 0px 10px 13px -7px #000000
}

main .index-main-welcome h1 {
  height: 120px;
  font-size: 50px;
  font-weight: 700;
  color: #bbdc2f;  
  display: flex;
  align-items: center;
  justify-content: center;
}

main .index-main-welcome p {
  color: #cbe0e0;
  padding: 0 10%;
  text-align: center;
  font-size: 20px;
}

footer {
  border: 1px solid red;
}


main .index-main-projects  {
  padding: 40px 0;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
}

main .index-main-projects h2 {
  height: 80px;
  font-size: 50px;
  font-weight: 700;
  color: #2c5460;
  font-size: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
}

main .index-main-projects-list {
  
  padding-top: 30px;  
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap:5px;
  justify-content: center;
  max-width: 1300px; 
  min-width: 130px; 
}

main .index-main-project {
  width: 300px;  
  border: 1px solid  chartreuse;
  padding: 15px;
}

main .index-main-project-client-name { 
  height: 40px;
  background-color: #cbe0e0;
  display: flex;  
  justify-content: center;
  align-items: center;  
  color: #2c5460;
  font-size: 18px;
  font-weight: 600;
}

main .index-main-project  h3 { 
  height: 50px;
  font-size: 30px;
  color: #2c5460;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .index-main-project-description { 
  font-size: 16px;
  font-weight: 400;
  padding: 7px 0 10px;
}

main .index-main-project-title-list { 
  font-size: 16px;
  font-weight: 400;
}

/*
main .index-main-project-img {
  border-radius: 10px;
  display: block;
  height: 0;
  overflow: hidden;
  padding: 56.25% 0 0 0;
  position: relative;
  width: 50%
}
*/

main .index-main-project-img {
  height: 50px;
}

main .index-main-project img {
  height: 50%;  
  display:flex;
  margin: auto;
  /*
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%
  */
  /*
  margin: auto;
  display:flex;
  max-width: 270px;
  */
}

main .s1 {  
  height: 200px;
  grid-row-end: span 1;  
}


main .s2 {
  grid-row-end: span 2;
}


main .s3 {  
  grid-row-end: span 3;
}
